.App {
  text-align: center;
}

.logo {
  text-align: center;
  height: 40vmin;
  pointer-events: none;
}

.logomenor{
  text-align: center;
  height: 30vmin;
  pointer-events: none;
}

ul {
  font-size: 10;
}

ul li {
  font-size: 14px;
  display: inline-block;
}

.botao-login{
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #b4bdc5cb;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  line-height: 26px;
}

.botao-cadastro{
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #2780c9;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  line-height: 26px;
  margin-left: 10px;
}

body {
  background-color: #171717;
}